/* Agregando estilos:

Posicionamiento --> static, absolute, relative, fixed
Modelo de caja (Box model) --> margin, border, padding, content
Tipografía --> tipos, tamaños de fuente, etc
Estilos visuales --> box-shadow, border-radius, gradient, etc
Otros --> reglas CSS y más */
:root {
    --bitcoin-orange:#F7931A;
    --soft-orange: #FFE9D4;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --black: #282623;
    --grey: #BABABA;
    --off-white:#FAF8F7;
    --just-white:#fff;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}
.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}
.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    /* separacion entre lineas de parrafo */
    color: var(--just-white);
}
.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}
.header__title-container .header--button {
    position: absolute;
    top: 270px;
    left: calc(50% - 114.5px);
    /* margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0; */
    /* Solo con posicion absolute se puede mover con top, right, etc.  */
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16) ;
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--black);
}
.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url('../assets/icons/down-arrow.svg');
}
main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}
.main-exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main-exchange-container__title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main-exchange-container .background-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin: 50px;
    background-image: url('../assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main-exchange-container h2 {
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main-exchange-container p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    color: #757575;
}
.main-tables__currency,
.main-tables__comission {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
}
.main-tables__currency .main-tables__currency--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
}
.main-tables__comission .main-tables__comission--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
}
.currency,
.comission {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}
.currency table,
.comission table {
    width: 100%;
    height: 100%;
}
.currency td,
.comission td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}
.currency .currency--top-left,
.comission .comission--top-left {
    border-radius: 15px 0 0 0;
}
.currency .currency--top-right,
.comission .comission--top-right {
    border-radius: 0 15px 0 0;
}
.currency .currency--bottom-left,
.comission.comission--bottom-left {
    border-radius: 0 0 0 15px;
}
.currency .currency--bottom-right,
.comission .comission.comission--bottom-right {
    border-radius: 0 0 15px 0;
}
/* Se hace así porque la tabla en si no se puede modificar, hay que hacerlo elemento por elemento */
.currency .currency--right,
.comission .comission--right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}
.currency .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(../assets/icons/trending-down.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url(../assets/icons/trending-up.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.currency-date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-orange);
    border-radius: 8px;
}
.comission-date {
    width: 190px;
    height: 30px;
    margin: 0 auto;
    margin-top: 15px;
    padding: 8px;
    background-color: var(--soft-blue);
    border-radius: 8px;
}
.currency-date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}
.comission-date p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}
.main-product-detail {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px;
    /* para tener un espacio y porderle dar el 100% a las tarjetas sin que sea necesario darle espacio a las mismas */
    background-color: var(--warm-black);
}
.main-product-detail__batata-logo {
    position: absolute;
    /* siempre que se ponga position absolute hay que poner el padre directo el position relative para que se pueda mover adecuadamente */
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url('../assets/icons/batata.svg');
}
.main-product-detail__title {
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.main-product-detail__title h2 {
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white); 
}
.main-product-detail__title p {
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-cards__clock,
.product-cards__eye,
.product-cards__dollar,
.product-cards__check {
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16) ;
}
.product-cards__clock .clock {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/clock.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-cards__eye .eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/eye.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-cards__dollar .dollar {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/dollar-sign.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-cards__check .check {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url(../assets/icons/check-circle.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-cards__clock--title,
.product-cards__eye--title,
.product-cards__dollar--title,
.product-cards__check--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product-cards__clock--body,
.product-cards__eye--body,
.product-cards__dollar--body,
.product-cards__check--body {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}